
img {
  max-width: 100%;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  /* this might be too strict */
  max-height: 4in;
}

figure {
  background: #EEE;
  padding: 1em;
}

.quarto-float-tbl.figure {
  background: #FFF;
}
